@charset "UTF-8";
.header {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__link {
  font-size: 14px;
  letter-spacing: 0px;
  color: #ffffff;
  font-weight: 600;
  text-decoration: none;
}

.header__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__block .header__block-link {
  margin-right: 50px;
}

.header__block .header__block-link::after {
  margin-right: 0;
}

.header__block .header__block-link .header__h1 {
  font-size: 20px;
  letter-spacing: 0px;
  font-weight: 600;
}

.header__block .header__block-link .header__h1 .header__h1_betta {
  font-size: 10px;
  font-weight: 400;
  top: -15px;
  right: 20px;
}

.header__block .logo-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 46px;
}

.header__block .logo-link .header__block-img {
  height: 100%;
  width: auto;
  margin-right: 15px;
}

.header__options-item {
  list-style: none;
  display: inline-block;
  margin-left: 30px;
}

.header__options-item #lang-select {
  background: transparent;
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.header__options-item #lang-select:-ms-expand {
  /* для IE */
  display: none;
}

.header__options-item #lang-select option {
  background-color: #000000;
  border: none;
}

.main__baner-views__card {
  width: 300px;
  height: 300px;
  border-radius: 10px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  margin: 0 10px;
}

.card__block-img {
  position: relative;
  width: 100%;
  height: 186px;
}

.card__img {
  width: 100%;
  height: 100%;
}

.card__img_icon {
  top: 15px;
  position: absolute;
  right: 15px;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  background-color: rgba(36, 35, 35, 0.5);
}

.card__descr__list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.card__descr_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: #ffffff;
  padding: 10px 15px 15px 15px;
}

.card__descr_item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mar-pad_0 {
  margin: 0;
  padding: 0;
}

.card-descr_location {
  font-size: 11px;
  color: #303030;
  font-family: "Open Sans";
  font-weight: 700;
}

.card-descr_place {
  font-size: 16px;
  line-height: 25px;
  color: #0b6e7e;
  font-family: "Open Sans";
  font-weight: 600;
}

.card-descr_resort {
  font-size: 13px;
  line-height: 25px;
  color: #000000;
  font-family: "Open Sans";
  font-weight: 400;
}

.card-descr_resort .card-descr-distance {
  list-style-type: disc;
}

.card-descr_rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30px;
}

.card-descr_rating .rating-descr {
  display: inline-block;
}

.card-descr_rating .rating-item {
  font-size: 14px;
  color: #000000;
  font-family: "Segoe UI";
}

.card-descr_rating .rating-views {
  font-size: 10px;
  color: #a1a1a1;
  font-family: "Open Sans";
  font-weight: 400;
}

.card-descr_rating .rating-bal {
  width: 30px;
  height: 30px;
  padding-top: 8px;
  text-align: center;
  background-color: #1154ac;
  border-radius: 5px;
  font-size: 14px;
  color: #ffffff;
  font-family: "Open Sans";
  font-weight: 400;
}

.card-descr_privileges {
  font-size: 14px;
  color: #141414;
  font-family: "Open Sans";
  font-weight: 400;
  margin-bottom: 0;
}

body {
  max-width: 1920px;
  min-width: 320px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapp {
  width: 80%;
  margin: 0 auto;
}

.wrapp-padding {
  padding-left: 90px;
  padding-right: 90px;
}

.main__baner {
  background-image: url(/img/baner.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 1090px;
}

.main__baner-bg {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 1090px;
}

.flex_columm_center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex_row_center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__baner-find {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 35%;
}

.main__baner-title {
  margin: 0;
  font-size: 40px;
  line-height: 50px;
  color: #ffffff;
  font-family: "Segoe UI";
}

.main__baner-find_txt {
  margin: 25px 0;
  font-size: 20px;
  letter-spacing: 0px;
  color: #ffffff;
  font-family: "Open Sans";
  font-weight: 400;
}

.main__baner-find_txt .main__baner-find_region {
  border-bottom: 1px solid #ffffff;
  padding-bottom: 8px;
}

.main__baner-find_inpt {
  width: 100%;
  padding: 25px;
  border: none;
  border-radius: 10px;
  margin-top: 30px;
  font-size: 24px;
  font-family: "Segoe UI";
  font-weight: 300;
}

.main__baner-find_btn {
  width: 100%;
  font-size: 24px;
  letter-spacing: 0px;
  color: #ffffff;
  font-family: "Segoe UI";
  font-weight: bold;
  padding: 25px;
  background: #1154ac;
  border: none;
  border-radius: 10px;
  margin-top: 25px;
}

.main__baner-slider {
  margin-top: 80px;
}

.main__baner-carusel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main__baner-share {
  list-style: none;
  padding: 0;
  width: 190px;
  margin-right: 80px;
}

.baner-share-item {
  font-size: 17px;
  line-height: 25px;
  color: #ffffff;
  font-family: "Open Sans";
  font-weight: 400;
  margin-bottom: 20px;
}

.baner-share_link {
  width: 100%;
  display: inline-block;
  background-color: #ffffff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 15px;
  line-height: 35px;
  color: #003048;
  font-family: "Open Sans";
  font-weight: 600;
}

.h4 {
  margin-top: 0;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  font-family: "Open Sans";
  font-weight: 400;
}
/*# sourceMappingURL=main.css.map */