.header {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
}

.header__menu {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.header__link {
  font-size: 14px;
  letter-spacing: 0px;
  color: #ffffff;
  font-weight: 600;
  text-decoration: none;
}

.header__block {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;

  .header__block-link {
    margin-right: 50px;
    &::after {
      margin-right: 0;
    }
    .header__h1 {
      font-size: 20px;
      letter-spacing: 0px;
      font-weight: 600;
      .header__h1_betta {
        font-size: 10px;
        font-weight: 400;
        top: -15px;
        right: 20px;
      }
    }
  }
  .logo-link {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    height: 46px;
    .header__block-img {
      height: 100%;
      width: auto;
      margin-right: 15px;
    }
  }
}

.header__options-item {
  list-style: none;
  display: inline-block;
  margin-left: 30px;
  #lang-select {
    background: transparent;
    border: none;
    appearance: none;
    &:-ms-expand {
      /* для IE */
      display: none;
    }
    option {
      background-color: #000000;
      border: none;
    }
  }
}
